*{
    font-family: "comic sans ms";
    margin: 0%;
    padding: 0%;
}
.image{
    background-image: url("design1_image1.jpg");
    background-size: cover;
}
.titulo{
    text-align: left;
    padding:0%;
    vertical-align: middle;
    height: 600px;
}
#subtitulo{
    vertical-align: middle;
    text-align: center;
    color:white;
    background-color: black;
}
#contenido{
    margin:5%;
    padding:2%;
}
#columna_derecha{
    float: left;
    margin:3%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 90%;
}
#logo{
    vertical-align: middle;
    content: url("nysl_logo.png");
    position:relative;
    width: 7%;
    left: 20%;
}